{% extends 'default/layout.html.twig' %}

{% block title %}Listado Propiedades{% endblock %}

{% block content_header %}
    <div class="row mb-2">
        <div class="col-sm-6">
            <h1 class="m-0 text-dark">Propiedades</h1>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a class="btn btn-primary" href="{{ path('property_new') }}">Crear propiedad</a></li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <!-- Default box -->
            <div class="card card-primary card-outline card-columns">
                <div class="card-header">
                    <h3 class="card-title">Listado Propiedades</h3>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Creado</th>
                                <th>Precio</th>
                                <th>Portal</th>
                                <th>Piso</th>
                                <th>Comentario</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for property in properties %}
                            <tr>
                                <td>{{ property.id }}</td>
                                <td>{{ property.created ? property.created|date('d-m-Y') : '' }}</td>
                                <td>{{ property.price|format_currency('EUR') }}</td>
                                <td>{{ property.portal }}</td>
                                <td>{{ property.floor }}</td>
                                <td>{{ property.comment|truncate }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-secondary" href="{{ path('property_show', {'id': property.id}) }}">Ver</a>
                                        <a class="btn btn-info" href="{{ path('property_edit', {'id': property.id}) }}">Editar</a>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="7">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
