{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('fronted') }}
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}

    <div id="preloder">
        <div class="loader"></div>
    </div>

    <div class="offcanvas-menu-overlay"></div>
    <div class="canvas-open">
        <i class="icon_menu"></i>
    </div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <i class="icon_close"></i>
        </div>
        <div class="language-bar">
            <div class="language-option">
                <img src="{{ asset('build/static_fronted/flag.png') }}" alt="Bandera">
                <span>English</span>
                <i class="fa fa-angle-down"></i>
                <div class="flag-dropdown">
                    <ul>
                        <li><a href="#">English</a></li>
                        <li><a href="#">Germany</a></li>
                        <li><a href="#">China</a></li>
                    </ul>
                </div>
            </div>
            <div class="property-btn">
                <a href="{{ path('app_login') }}" class="property-sub">Backend</a>
            </div>
        </div>
        <nav class="main-menu">
            <ul>
                <li><a href="./index.html">Inicio</a></li>
                <li><a href="./property.html">Property</a></li>
                <li><a href="./about-us.html">Agets</a></li>
                <li><a href="./blog.html">News</a></li>
                <li><a href="./property-details.html">Pages</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
        <div class="nav-logo-right">
            <ul>
                <li>
                    <i class="icon_phone"></i>
                    <div class="info-text">
                        <span>Phone:</span>
                        <p>(+12) 345 6789</p>
                    </div>
                </li>
                <li>
                    <i class="icon_map"></i>
                    <div class="info-text">
                        <span>Address:</span>
                        <p>16 Creek Ave, <span>NY</span></p>
                    </div>
                </li>
                <li>
                    <i class="icon_mail"></i>
                    <div class="info-text">
                        <span>Email:</span>
                        <p><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="cc85a2aaa3e2afa3a0a3a0a5ae8caba1ada5a0e2afa3a1">[email&#160;protected]</a></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>


    <header class="header-section">
        <div class="top-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <nav class="main-menu">
                            <ul>
                                <li class="active"><a href="./index.html">Home</a></li>
                                <li><a href="./property.html">Property</a></li>
                                <li><a href="./about-us.html">Agets</a></li>
                                <li><a href="./blog.html">News</a></li>
                                <li><a href="./property-details.html">Pages</a></li>
                                <li><a href="./contact.html">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-5">
                        <div class="top-right">
                            <div class="language-option">
                                <img src="{{ asset('build/static_fronted/flag.png') }}" alt="">
                                <span>English</span>
                                <i class="fa fa-angle-down"></i>
                                <div class="flag-dropdown">
                                    <ul>
                                        <li><a href="#">English</a></li>
                                        <li><a href="#">Germany</a></li>
                                        <li><a href="#">China</a></li>
                                    </ul>
                                </div>
                            </div>
                            <a href="{{ path('app_login') }}" class="property-sub">Backend</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-logo">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="logo">
                            <a href="./index.html"><img src="{{ asset('build/static_backend/logo-medidas.png') }}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="nav-logo-right">
                            <ul>
                                <li>
                                    <i class="fas fa-phone"></i>
                                    <div class="info-text">
                                        <span>Phone:</span>
                                        <p>944945171</p>
                                    </div>
                                </li>
                                <li>
                                    <i class="fas fa-map"></i>
                                    <div class="info-text">
                                        <span>Address:</span>
                                        <p>Zamacola 65, <span>Bilbao</span></p>
                                    </div>
                                </li>
                                <li>
                                    <i class="fas fa-envelope"></i>
                                    <div class="info-text">
                                        <span>Correo:</span>
                                        <p>info@errekainmobiliria.com</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <section class="hero-section">
        <div class="hero-items owl-carousel">
            <div class="single-hero-item set-bg" data-setbg="{{ asset('build/static_fronted/hero/hero-1.jpg') }}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <div class="hero-text">
                                <p class="room-location"><i class="icon_pin"></i> 9721 Glen Creek Ave. Ballston Spa, NY</p>
                                <h2>Villa 9721 Glen Creek</h2>
                                <div class="room-price">
                                    <span>Start Form:</span>
                                    <p>$3.000.000</p>
                                </div>
                                <ul class="room-features">
                                    <li>
                                        <i class="fa fa-arrows"></i>
                                        <p>5201 sqft</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-bed"></i>
                                        <p>6 Bed Room</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-bath"></i>
                                        <p>7 Baths Bed</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-car"></i>
                                        <p>1 Garage</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-hero-item set-bg" data-setbg="{{ asset('build/static_fronted/hero/hero-2.jpg') }}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <div class="hero-text">
                                <p class="room-location"><i class="icon_pin"></i> 9721 Glen Creek Ave. Ballston Spa, NY</p>
                                <h2>Villa 9721 Glen Creek</h2>
                                <div class="room-price">
                                    <span>Start Form:</span>
                                    <p>$3.000.000</p>
                                </div>
                                <ul class="room-features">
                                    <li>
                                        <i class="fa fa-arrows"></i>
                                        <p>5201 sqft</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-bed"></i>
                                        <p>4 Bed Room</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-bath"></i>
                                        <p>7 Baths Bed</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-car"></i>
                                        <p>1 Garage</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-hero-item set-bg" data-setbg="{{ asset('build/static_fronted/hero/hero-3.jpg') }}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <div class="hero-text">
                                <p class="room-location"><i class="icon_pin"></i> 9721 Glen Creek Ave. Ballston Spa, NY</p>
                                <h2>Villa 9721 Glen Creek</h2>
                                <div class="room-price">
                                    <span>Start Form:</span>
                                    <p>$3.000.000</p>
                                </div>
                                <ul class="room-features">
                                    <li>
                                        <i class="fa fa-arrows"></i>
                                        <p>5201 sqft</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-bed"></i>
                                        <p>8 Bed Room</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-bath"></i>
                                        <p>7 Baths Bed</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-car"></i>
                                        <p>1 Garage</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="thumbnail-pic">
            <div class="thumbs owl-carousel">
                <div class="item">
                    <img src="{{ asset('build/static_fronted/hero/dot-1.jpg') }}" alt="">
                </div>
                <div class="item">
                    <img src="{{ asset('build/static_fronted/hero/dot-2.jpg') }}" alt="">
                </div>
                <div class="item">
                    <img src="{{ asset('build/static_fronted/hero/dot-3.jpg') }}" alt="">
                </div>
            </div>
        </div>
    </section>


    {% block search_property %}
        <div class="search-form">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="search-form-text">
                            <div class="search-text">
                                <i class="fa fa-search"></i>
                                Find Your Home
                            </div>
                            <div class="home-text">
                                <i class="fa fa-home"></i>
                                House For Sell
                            </div>
                        </div>
                        <form action="#" class="filter-form">
                            <div class="first-row">
                                <select>
                                    <option value="">Villa & Pool</option>
                                </select>
                                <select>
                                    <option value="">Title</option>
                                </select>
                                <select>
                                    <option value="">Ani City</option>
                                </select>
                                <select>
                                    <option value="">Any Bithrooms</option>
                                </select>
                            </div>
                            <div class="second-row">
                                <select>
                                    <option value="">Any Bedrooms</option>
                                </select>
                                <div class="price-range-wrap">
                                    <div class="price-text">
                                        <label for="priceRange">Price:</label>
                                        <input type="text" id="priceRange" readonly>
                                    </div>
                                    <div id="price-range" class="slider"></div>
                                </div>
                                <div class="room-size-range">
                                    <div class="price-text">
                                        <label for="roomsizeRange">Size:</label>
                                        <input type="text" id="roomsizeRange" readonly>
                                    </div>
                                    <div id="roomsize-range" class="slider"></div>
                                </div>
                                <button type="button" class="search-btn">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block footer %}
        <footer class="footer-section set-bg" data-setbg="{{ asset('build/static_fronted/footer-bg.jpg') }}">
            <div class="container">
                <div class="footer-text">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="footer-logo">
                                <div class="logo">
                                    <a href="#"><img src="{{ asset('build/static_backend/logo-medidas.png') }}" alt=""></a>
                                </div>
                                <p>Suscríbase a nuestro boletín de noticias para recibir notificaciones sobre nuevas actualizaciones.</p>
                                <form action="#" class="newslatter-form">
                                    <input type="text" placeholder="Enter your email...">
                                    <button type="submit"><i class="fa fa-location-arrow"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-2 offset-lg-1">
                            <div class="footer-widget">
                                <h4>Zonas</h4>
                                <ul>
                                    <li><i class="fa fa-caret-right"></i> <a href="#">Florida</a></li>
                                    <li><i class="fa fa-caret-right"></i> <a href="#">New York</a></li>
                                    <li><i class="fa fa-caret-right"></i> <a href="#">Washington</a></li>
                                    <li><i class="fa fa-caret-right"></i> <a href="#">Los Angeles</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="footer-widget">
                                <h4>Social</h4>
                                <ul class="social">
                                    <li><i class="fab fa-facebook-f"></i> <a href="#">Facebook</a></li>
                                    <li><i class="fab fa-instagram"></i> <a href="#">Instagram</a></li>
                                    <li><i class="fab fa-twitter"></i> <a href="#">Twitter</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="footer-widget">
                                <h4>Contact Us</h4>
                                <ul class="contact-option">
                                    <li><i class="fa fa-map-marker"></i> 16 Creek Ave. Farming, NY</li>
                                    <li><i class="fa fa-phone"></i> (+88) 666 121 4321</li>
                                    <li><i class="fa fa-envelope"></i> <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="0f66616960216c6063607d63666d4f68626e6663216c6062">[email&#160;protected]</a></li>
                                    <li><i class="fa fa-clock-o"></i> Mon - Sat, 08 AM - 06 PM</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright-text">
                    <p><p>
                        Copyright &copy; {{ 'now'|date('Y') }} Todos los derechos reservados.
                    </p></p>
                </div>
            </div>
        </footer>
    {% endblock %}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('fronted') }}
    <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js"></script>
{% endblock %}