{% extends 'backend/layout.html.twig' %}

{% block title %}Listado Agentes{% endblock %}

{% block content_header %}
    <div class="row mb-2">
        <div class="col-sm-6">
            <h1 class="m-0 text-dark">Agentes</h1>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a class="btn btn-primary" href="{{ path('agent_new') }}">Crear agente</a></li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <!-- Default box -->
            <div class="card card-primary card-outline card-columns">
                <div class="card-header">
                    <h3 class="card-title">Listado Agentes</h3>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-striped ">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre usuario</th>
                                <th>Roles</th>
                                <th>Nombre completo</th>
                                <th>Correo</th>
                                <th>Foto</th>
                                <th>Color</th>
                                <th>Creado</th>
                                <th>Actualizado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for agent in agents %}
                            <tr>
                                <td>{{ agent.id }}</td>
                                <td>{{ agent.username }}</td>
                                <td>{{ agent.roles ? agent.roles|json_encode : '' }}</td>
                                <td>{{ agent.fullName }}</td>
                                <td>{{ agent.email }}</td>
                                <td>
                                    {% if agent.thumbnailName %}
                                        <img class="img-size-50" src="{{ vich_uploader_asset(agent, 'thumbnailFile') }}" alt="{{ agent.thumbnailName }}">
                                    {% endif %}
                                </td>
                                <td>{{ agent.color }}</td>
                                <td>{{ agent.createdAt ? agent.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ agent.updatedAt ? agent.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-secondary" href="{{ path('agent_show', {'slug': agent.slug}) }}">Ver</a>
                                        <a class="btn btn-info" href="{{ path('agent_edit', {'slug': agent.slug}) }}">Editar</a>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="11">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
