{% extends 'backend/layout.html.twig' %}

{% block title %}Ver Agente{% endblock %}

{% block content_header %}
    <div class="row mb-2">
        <div class="col-sm-6">
            <h1 class="m-0 text-dark">Agente</h1>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item">
                    {% if is_granted('ROLE_ADMIN') %}
                        {{ include('backend/agent/_delete_form.html.twig') }}
                    {% endif %}
                </li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                    <div class="text-center">
{#                        <img class="profile-user-img img-fluid img-circle" src="{{ vich_uploader_asset(agent, 'thumbnailFile') }}" alt="{{ agent.thumbnail }}">#}
                    </div>

                    <h3 class="profile-username text-center">{{ agent.fullName }}</h3>

                    <p class="text-muted text-center">{{ agent.username }}</p>

                    <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                            <b>Visitas</b> <a class="float-right">0</a>
                        </li>
                        <li class="list-group-item">
                            <b>Propietarios</b> <a class="float-right"> {{ agent.owners.count }} </a>
                        </li>
                        <li class="list-group-item">
                            <b>Clientes</b> <a class="float-right"> {{ agent.clients.count }} </a>
                        </li>
                    </ul>

                    <div class="btn-group">
                        <a class="btn btn-link" href="{{ path('agent_index') }}">Volver a la lista</a>
                        <a class="btn btn-info" href="{{ path('agent_edit', {'slug': agent.slug}) }}">Editar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Sobre {{ agent.fullName }}</h3>
                </div>
                <div class="card-body">
                    <strong><i class="fas fa-book mr-1"></i> Información</strong>

                    <p class="text-muted">
                        <b>Correo: </b>{{ agent.email }}
                    </p>

                    <hr>

                    <strong><i class="fas fa-map-marker-alt mr-1"></i> Agencia</strong>

                    <p class="text-muted">aaa</p>

                    <hr>

                    <strong><i class="fas fa-pencil-alt mr-1"></i> Otros</strong>

                    <ul class="list-group list-group-unbordered mb-3 text-muted">
                        <li class="list-group-item">
                            <b>Habilitado</b> <span>{{ agent.enabled ? 'Si' : 'No' }}</span>
                        </li>
                        <li class="list-group-item">
                            <b>Creado: </b> <span>{{ agent.createdAt ? agent.createdAt|date('d-m-Y') : '' }}</span>
                        </li>
                        <li class="list-group-item">
                            <b>Actualizado: </b> <span>{{ agent.updatedAt ? agent.updatedAt|date('d-m-Y') : '' }}</span>
                        </li>
                        <li class="list-group-item">
                            <b>Color</b> <span style="background-color: {{ agent.color }}">{{ agent.color }}</span>
                        </li>
                    </ul>

{#                    <strong><i class="far fa-file-alt mr-1"></i> Contenido</strong>#}
{#                    <p class="text-muted">no hay contenido</p>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
